<% include ../partials/header %>

    <div id="connection-count"></div>
    <h3>Poll URL:</h3>
    <p><%= url %></p>
    <h3>Your poll results so far:</h3>
    <div id="results">
      <% for (var option in results){ %>
        <p><%= option %>: <%= results[option]%></p>
      <% } %>
    </div>
    <div id="poll-status">
      <% if (closed) { %>
        <p>Poll Status: Closed %></p>
      <% } else { %>
        <p>Poll Status: Open %></p>
        <div id="set-time">
          Close poll in
          <input type="text" id="time-close"> minutes.
        </div>
        <br>
        <button id="close-poll">Close Poll</button>
      <% } %>
    </div>

<% include ../partials/footer %>
