<% include ./partials/header %>

    <div id="connection-count"></div>

    <div id="poll-things">
    <% if (closed) { %>
      <p>This poll is closed. Sad day for you.</p>
    <% } else { %>
        <h4><%= question %></h4>
        <div id="poll">
          <% options.forEach(function(option){ %>
            <button><%= option %></button><br>
          <% }); %>
        </div>
        <div id="selection"></div>
    <% } %>
  </div>

  <div class="poll-results">
    <% if (share === 'on') { %>
    <h3>Poll Results:</h3>
    <div id="results">
      <% for (var option in results){ %>
        <p><%= option %>: <%= results[option]%></p>
      <% } %>
    </div>
    <% } %>
  </div>

<% include ./partials/footer %>
